  //colors----------------------------------------------->
$primary-color:           #1e1e1e;
$secondary-color:         #a8b8c5;

//colors-bg-->
$primary-color-bg:        #fff;
$secondary-color-bg:      #f4f7ff;

//colors-main-->
$primary-color-main:      #0089ee;
$secondary-color-main:    #7ba5bc;

//colors-kr-->
$primary-color-kr:        #e37640;
$secondary-color-kr:      #ffd188;

//colors-kz-->
$primary-color-kz:        #4497b3;
$secondary-color-kz:      #a4d8ee;

//colors-freedom-->
$primary-color-freedom:   #298b3f;
$secondary-color-freedom: #a0d8a7;

//font-size & line-height------------------------------>
$primary-font-size:           16px;
$primary-line-height:         160%;
$secondary-line-height:       140%;

//title-h1
$primary-title-font-size:     44px;
$primary-title-line-height:   110%;

//title-h2
$secondary-title-font-size:   20px;
$secondary-title-line-height: 120%;


//breakpoints
$breakpoint1390: 1390px;
$breakpoint1268: 1268px;
$breakpoint1024: 1180px;
$breakpoint868:   868px;
$breakpoint768:   768px;
$breakpoint480:   480px;
$breakpoint440:   440px;
$breakpoint360:   360px;

